<section class="h-screen flex flex-col justify-between items-center relative overflow-hidden">
  <div class="flex flex-col h-full justify-around items-center px-8 text-center">
    <!-- <h1 class="text-bold text-3xl">Docteur Rodrick Gibert</h1> -->

    <div class="flex flex-col justify-center relative">
      <h1 class="gold-text" data-text="Docteur Rodrick Gilbert">
        <span class="gold-text__highlight" data-text="Docteur Rodrick Gilbert">Docteur Rodrick Gilbert</span>
      </h1>
    </div>

    <%= image_tag 'audrick_portrait.png', alt: '', class: 'w-28 h-auto audrick-head-static' %>

    <h2 class="text-white">Félicitations, tu as enfin fini ta thèse!</h2>
    <p class="text-white">Mais il te reste encore l'épreuve finale de validation pour prétendre à ton diplôme!</p>
    <p class="text-white">Réponds à toutes les questions du COUIZE pour découvrir la surprise</p>
    <p class="text-white">Mais attention, tu ne disposes que de 3 vies!</p>
    <%= link_to 'Commencer le couize', questions_path, class: 'p-4 bg-[#99CE0B]' %>
  </div>
  <%= image_tag 'luffy.webp', alt: 'Commencer le couize', class: 'w-full h-auto' %>
  <%= image_tag 'audrick_portrait.png', alt: '', class: 'audrick-head-dynamic' %>
  <%= image_tag 'loic_perrin.png', alt: '', class: 'loic-dynamic' %>
  <%= image_tag 'trotinette.png', alt: '', class: 'loic-dynamic-right' %>

</section>

<style>
/* * {border: 1px red solid} */
</style>
